/* Global Colors */
:root {
  --color-default: #212529;
  --color-default-rgb: 33, 37, 41;
  --color-background: #ffffff;
  --color-background-rgb: 255, 255, 255;
  /* --color-primary: #e84545; */
  --color-primary: #ff6806;

  --color-primary-rgb: 	255, 104, 6;
  --color-secondary: #32353a;
  --color-secondary-rgb: 50, 53, 58;
  --color-box-background: #ffffff;
  --color-box-background-rgb: 255, 255, 255;
  --color-inverse: #ffffff;
  --color-inverse-rgb: 255, 255, 255;
}

:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Lato", sans-serif;
}

/* Nav Menu Colors */
:root {
  --color-nav: #3a3939;
  --color-nav-hover: #e84545;
  --color-nav-dropdown: #3a3939;
  --color-nav-dropdown-hover: #e84545;
  --color-nav-dropdown-background: #ffffff;
  --color-nav-mobile-background: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  color: var(--color-default);
  background-color: var(--color-background);
  font-family: var(--font-default);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: rgba(var(--color-primary-rgb), 0.7);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

section {
  color: var(--color-default);
  background-color: var(--color-background);
  padding: 60px 0;
  overflow: clip;
}

.first_section {
  padding-top: 150px;
}

section {
    padding-bottom: 100px;
}
img {
    width: 100%;
    height: auto;
}
.photo {
    width: 50%;
}
.btn:focus,
.btn-primary:active:focus,
.btn:active {
    outline-color: transparent;
    box-shadow: none;
}
.navbar{
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);;
}
.navbar-brand{
    text-transform: uppercase;
    color:black;
    background-color: var(--color-primary);
    padding: 15px 15px;
    font-weight: 700;
}
.navbar-brand:hover{
    color: black;
}
.navbar-nav .nav-link{
  
    text-transform: uppercase;
    color: var(--color-default);
}

.navbar-expand-lg .navbar-nav .nav-link {
  --bs-navbar-nav-link-padding-x: 1rem;
}

.first_screen {
    padding: 100px 0;
    background-color: #b2cdff;
}

.Text_MainUnit{
    width: 50%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}
.Text_MainUnit h1{
padding: 40px 40px;
}

@media (max-width:1024px) {
  .first_screen_container {
    flex-direction: column-reverse;
  }
  .Text_MainUnit, .photo {
    width: 100%;
  }
  .Text_MainUnit h1{
    padding: 20px 0px;
    }
}
@media (max-width: 768px) {
  .investment_package .card .card-img-top {
    max-height: auto
  }
}
/* #InvestmentPackage{
    display: flex;
    padding: 40px;
    justify-content: center;
} */

.investment_package .card {
  margin-top: 1.5rem;
}
.investment_package .card .card-img-top {
    max-height: 300px;
}

@media (max-width: 768px) {
  .investment_package .card .card-img-top {
    max-height: auto
  }
}

/*#InvestmentPackage .card{
     margin: 40px; 
}*/

.fuq_section .accordion-item {
    margin-bottom: 25px;
    border: 1px solid var(--color-default)
}
.fuq_section .accordion-button:not(.collapsed) {
    border-bottom: 1px solid var(--color-default);
    background-color: transparent;
    color: var(--color-default);
}
.fuq_section .accordion-button:focus,
.fuq_section .accordion-button:active {
    outline-color: transparent;
    box-shadow: none;
}


.investment_package .btn {
    border-color: var(--color-primary);
    color: var(--color-background);
    background-color: var(--color-primary);
}
.investment_package .btn:hover {
  background: rgba(var(--color-primary-rgb), 0.8);
}


.indigo {
    background-color: indigo;
    color: white;
}
.about {
    --color-background: #f4f4f4;
  }
  
  .about .content h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    padding: 10px 20px;
    background: rgba(var(--color-primary-rgb), 0.05);
    color: var(--color-primary);
    border-radius: 7px;
    display: inline-block;
  }
  
  .about .content h2 {
    color: var(--color-secondary);
    font-weight: 700;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
  
  .about .content .read-more {
    background: var(--color-primary);
    border: none;
    color: var(--color-inverse);
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 12px 24px;
    border-radius: 5px;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .about .content .read-more i {
    font-size: 18px;
    margin-left: 5px;
    line-height: 0;
    transition: 0.3s;
  }
  
  .about .content .read-more:hover {
    background: rgba(var(--color-primary-rgb), 0.8);
    padding-right: 19px;
  }
  
  .about .content .read-more:hover i {
    margin-left: 10px;
  }
  
  .about .icon-box {
    padding: 50px 40px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease-out 0s;
    background-color: var(--color-box-background);
  }
  
  .about .icon-box i {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 0;
    transition: all 0.4s ease-out 0s;
    background-color: rgba(var(--color-primary-rgb), 0.05);
    color: var(--color-primary);
  }
  
  .about .icon-box h3 {
    color: var(--color-secondary);
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
  }
  
  .about .icon-box p {
    margin-bottom: 0;
  }
  
  .about .icon-box:hover i {
    background-color: var(--color-primary);
    color: var(--color-inverse);
  }

  .about .icon-boxes .col-md-6:nth-child(1) .icon-box {
    margin-top: 100px;
  }
  .about .icon-boxes .col-md-6:nth-child(4) .icon-box {
    margin-top: -25px;
  }
  
  @media (max-width: 768px) {
  
    .about .icon-boxes .col-md-6:nth-child(2) .icon-box,
    .about .icon-boxes .col-md-6:nth-child(4) .icon-box {
      margin-top: 0;
    }
  }

  .header {
    --color-background: #ffffff;
    --color-inverse: #ffffff;
    color: var(--color-default);
    background-color: var(--color-background);
    /* padding: 15px 0; */
    transition: all 0.5s;
    z-index: 997;
  }



  /* Global Header on page scroll
------------------------------*/
.scrolled .header {
  --color-background: #ffffff;
  --color-secondary: #444444;
  --color-nav: #444444;
  --color-nav-hover: #e84545;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
}

/* Global Scroll Margin Top
------------------------------*/
section {
  scroll-margin-top: 90px;
}

@media (max-width: 1199px) {
  section {
    scroll-margin-top: 66px;
  }
}


/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: #ffffff;
  line-height: 0;
}

.scroll-top:hover {
  background-color: rgba(var(--color-primary-rgb), 0.8);
  color: #ffffff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background-color: var(--color-background);
  transition: all 0.6s ease-out;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#preloader div {
  width: 13px;
  height: 13px;
  background-color: var(--color-primary);
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  position: absolute;
  left: 50%;
}

#preloader div:nth-child(1) {
  left: calc(50% + 8px);
  animation: animate-preloader-1 0.6s infinite;
}

#preloader div:nth-child(2) {
  left: calc(50% + 8px);
  animation: animate-preloader-2 0.6s infinite;
}

#preloader div:nth-child(3) {
  left: calc(50% + 32px);
  animation: animate-preloader-2 0.6s infinite;
}

#preloader div:nth-child(4) {
  left: calc(50% + 56px);
  animation: animate-preloader-3 0.6s infinite;
}

@keyframes animate-preloader-1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animate-preloader-3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes animate-preloader-2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}


/* Testimonials Section - Home Page
------------------------------*/
.testimonials {
  --color-background: var(--color-inverse);
}

.testimonials .info h3 {
  color: var(--color-background);
  font-weight: 700;
  font-size: 32px;
}

.testimonials .swiper {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
  background: var(--color-box-background);
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  min-height: 200px;
  position: relative;
  margin: 30px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  border: 6px solid var(--color-background);
  margin-right: 10px;
}

.testimonials .testimonial-item h3 {
  color: var(--color-secondary);
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

.testimonials .testimonial-item h4 {
  color: rgba(var(--color-default-rgb), 0.5);
  font-size: 14px;
  margin: 0;
}

.testimonials .testimonial-item .stars {
  margin: 10px 0;
}

.testimonials .testimonial-item .stars i {
  color: #ffc107;
  margin: 0 1px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: rgba(var(--color-primary-rgb), 0.4);
  font-size: 26px;
  line-height: 0;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
  transform: scale(-1, -1);
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}

.testimonials .swiper-wrapper {
  height: auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: rgba(var(--color-default-rgb), 0.15);
  opacity: 1;
  border: none;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}

@media (max-width: 767px) {

  .testimonials .testimonials-carousel,
  .testimonials .testimonials-slider {
    overflow: hidden;
  }

  .testimonials .testimonial-item {
    margin: 15px;
  }
}


body.modal-open .modal {
  display: flex !important;
  height: 100%;
} 

body.modal-open .modal .modal-dialog {
  margin: auto;
}

.form {
  padding: 25px;
}

.form input[type=text],
.form input[type=email],
.form textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  color: var(--color-default);
  background-color: rgba(var(--color-background-rgb), 0.5);
  border-color: rgba(var(--color-default-rgb), 0.2);
}

.form input[type=text]:focus,
.form input[type=email]:focus,
.form textarea:focus {
  border-color: var(--color-primary);
}

.form input[type=text]::-moz-placeholder,
.form input[type=email]::-moz-placeholder,
.form textarea::-moz-placeholder {
  color: rgba(var(--color-default-rgb), 0.3);
}

.form input[type=text]::placeholder,
.form input[type=email]::placeholder,
.form textarea::placeholder {
  color: rgba(var(--color-default-rgb), 0.3);
}

.form button[type=submit] {
  background: var(--color-primary);
  color: var(--color-inverse);
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 4px;
}

.form button[type=submit]:hover {
  background: rgba(var(--color-primary-rgb), 0.8);
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.form .loading {
  display: none;
  background: var(--color-background);
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--color-primary);
  border-top-color: var(--color-background);
  animation: animate-loading 1s linear infinite;
}

.form .sent-message {
  display: none;
  color: #ffffff;
  background: #059652;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact {
  --color-box-background: #f7f7f7;
}

.contact .info-item {
  background: var(--color-box-background);
  padding: 30px;
}

.contact .info-item i {
  font-size: 38px;
  line-height: 0;
  color: var(--color-primary);
}

.contact .info-item h3 {
  color: var(--color-secondary);
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-item p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Section Title
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
}

.section-title h2 {
  color: var(--color-secondary);
  font-size: 32px;
  font-weight: 700;
  position: relative;
}

.section-title h2:before,
.section-title h2:after {
  content: "";
  width: 50px;
  height: 2px;
  background: var(--color-primary);
  display: inline-block;
}

.section-title h2:before {
  margin: 0 15px 10px 0;
}

.section-title h2:after {
  margin: 0 0 10px 15px;
}

.section-title p {
  margin-bottom: 0;
}